{% extends "@Bookmarks/base.html.twig" %}

{% block stylesheets %}
  {% include "@Bookmarks/hover-effects.html.twig" %}
{% endblock stylesheets %}

{% block title %}
  Dashboard
{% endblock title %}

{% block header %}  

  {% include "@Bookmarks/jumbotron.html.twig" %}
  {% include "@Bookmarks/navigation.html.twig" %}

{% endblock header %}

{% block content %}

  <div class="container">
    <div class="front-image">
      {% image '@BookmarksBundle/Resources/public/img/front.jpg' %}
      <img src="{{ asset_url }}" alt="Front image" />    
      {% endimage %}
    </div>
  </div>

{% endblock content %}