/*
Customization and override
*/
/* 
    Created on : 9-aug-2017, 14:38:03
    Author     : jvanbiervliet

*:hover {
  border: 1px red dashed;
}
*/


html, body {  
  background-color: #00A6C1;
  color: white;
  font-family: "Calibri";
}

/* header */
#header .jumbotron h1 {
  color: #00A6C1;
  font-size: 5em;
}

.jvb-jump-left-bottom {  
  background-color: white;
  margin-left: -80px;
  padding-left: 80px;
  padding-bottom: 80px;
  margin-bottom: -80px;
}

.jumbotron {
  background: url('../img/Etion-top-bezier.png') no-repeat;  
  background-size: 100%;
  margin-bottom: 0px;
}

/* content */
.show-bookmarks {
  padding-top: 40px;
}

/* tabel */
.etion-tabel {
  box-shadow: 3px 3px 15px #888888;
  width: 100%;
}

.etion-tabel, .etion-tabel th, .etion-tabel td {  
  border: 1px solid #e2dfdf;
}

tbody {
  background-color: white;
  color: gray;
}

.etion-tabel th {
  height: 40px;
  text-align: center;
}

.etion-tabel td {
  padding: 8px;
}

/* misc */
.round6 {
  border-radius: 6px;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}