<h1> Your lucky numbers are </h1>

{% set numbers = winning['numbers'] %}
{% set stars = winning['stars'] %}

<h2> Five numbers </h2>
{% for number in numbers %}
    <b> {{ number }} </b>
{% endfor %}

<h2> Two stars </h2>
{% for star in stars %}
    <b> {{ star }} </b>
{% endfor %}