<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            
            {% stylesheets
                'css/bootstrap.css'
                'css/main.css'
                'css/test.css'
                filter='cssrewrite' output='css/compiled/app.css' %}
            {% endstylesheets %}
            
            <title>{% block title %}{% endblock %} Test Templates</title>
        {% endblock %}        
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
                &copy; Copyright 2011 by <a href="http://etion.be/">JvB</a>.
            {% endblock %}
        </div>
        
        {% javascripts 
        'js/bootstrap.min.js'
        output='js/compiled/app.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>