{% extends "@Bookmarks/base.html.twig" %}

{% block stylesheets %}
  {% include "@Bookmarks/hover-effects.html.twig" %}
{% endblock stylesheets %}

{% block title %}
  Bookmarks
{% endblock title %}

{% block header %}      
  {% include "@Bookmarks/navigation.html.twig" %}  
{% endblock header %}

{% block content %}
  <div class="show-bookmarks">
    <div class="container">
      <div class="row">
        <div class="col-md-4">

          <div class="form-group">
            <div class="form-group">
              <h1><a href="#" class="btn btn-bg form-control">NIEUWE KOPPELING</a></h1>
            </div>
          </div>

          <div class="form-group">
            <!-- <h1>FILTER</h1> -->
            <input type="text" class="form-control" id="etion-tabel-filter" onkeyup="filterFunctie()" placeholder="Filter koppelingen ...">
          </div>

        </div>
        <div class="col-md-8">
          <!-- <h1>KOPPELINGEN</h1> -->
          <table id="etion-tabel">
            <thead>
              <tr class="header">
                <th>Title</th>
                <th>Path</th>
              </tr>  
            </thead>
            <tbody>
              {% for bookmark in bookmarks %}
                <tr>
                  <td>{{ bookmark.title }}</td>
                  <td>{{ bookmark.path }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}