{% extends "@Bookmarks/base.html.twig" %}

{% block stylesheets %}
  {% include "@Bookmarks/hover-effects.html.twig" %}
{% endblock stylesheets %}

{% block title %}
  Bookmarks - Add New
{% endblock title %}

{% block header %}      
  {% include "@Bookmarks/navigation.html.twig" %}  
{% endblock header %}

{% block content %}
  <div class="show-bookmarks">
    <div class="container">
      
    </div>
  </div>
{% endblock content %}