<!DOCTYPE html>
<html>
  <head>
    
    {% block head %}
      
      {% block bootstrapcss %}
        {% stylesheets 'bundles/bookmarks/css/bootstrap.css'
                       'bundles/bookmarks/css/bootstrap-theme.css'
           filter='cssrewrite' %}
          <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
      {% endblock bootstrapcss %}
      
      {% block stylesheets %}
      {% endblock stylesheets %}
      
      {% stylesheets 'bundles/bookmarks/css/style.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />      
      {% endstylesheets %}
      
      <title>{% block wholetitle %} ETION tools - {% block title %}{% endblock %} {% endblock wholetitle %} </title>
    {% endblock %}
    
  </head>
  <body>
    
    <div id="header">
      {% block header %}{% endblock header %}
    </div>
    
    <div id="content">
    {% block content %}{% endblock %}
    </div>        
    
    {% block bootstrapjs %}
      
    {% endblock bootstrapjs %}
    
    {% block javascripts %}
      {% javascripts '@BookmarksBundle/Resources/public/js/jquery-3.2.1.js' 
                      '@BookmarksBundle/Resources/public/js/bootstrap.js' %}
        <script src="{{ asset_url }}"></script>
      {% endjavascripts %}
    {% endblock %}
      
  </body>
</html>